[Unit]
Description=dups

[Service]
Type=dbus
BusName=de.linuxwhatelse.dups.daemon
ExecStart=/usr/bin/dups --user %i daemon --system
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
