[Unit]
Description=dups

[Service]
Type=dbus
BusName=de.linuxwhatelse.dups.daemon
ExecStart=/usr/bin/dups daemon --session
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
